

*{
  font-family: 'Encode Sans Expanded',sans-serif
}

.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}


